<div id="article-banner">
    <h2>文章归档</h2>
    <p class="post-date"><%- full_date(Date.now(), "M月D日HH点mm分") %></p>
</div>
<main class="app-body" id="archives">
    <% let years = {}; %>
    <%
        site.posts.each(post => {
            const y = post.date.year();
            if (!years[y]) {
                years[y] = [];
            }
            years[y].push(post);
        })
    %>
    <% for (let year of Object.keys(years).reverse()) { %>
        <%- partial('_partial/archive', { year: year, posts: years[year].reverse() }) %>
    <% } %>
</main>

<script>(function(){
    //横幅
    var banner = "<%- theme.index_uri_banner %>"
    $('#article-banner').css({'background-image': 'url(' + banner + ')'})
    $('.header').removeClass('fixed-header')
})();</script>